div#call {
    position: relative;
    margin: 0 auto;
    width: 500px;
    display: none;
    height: 500px;
  }
  
  video {
    background: black;
    border: 1px solid gray;
  }
  
  video#local {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  video#remote {
    width: 500px;
    height: 500px;
  }

  button#close-call{
    display: none;
  }